/* Pablo Trigo de la Piedad */
/*Imagen de fondo al body*/
body{
	background: url("../imagenes/rivendell2.PNG") no-repeat center center fixed;
	background-size: cover;
    min-width: 400px;
}
                                                        /*NAVEGADOR*/
/*tamaño y tipo de fuente del navegador*/
nav{
	font-family: 'Fondamento' ;
	font-size: 1.5rem;
}
/*Tamaño de la imagen del menu*/
nav>img{
    width: 10%;
}
                                                    /* Caja central de la página, el contenido*/
/*Color y margen a los enlaces del navegador*/
ul>li{
    margin-right: 50px;
}

/*Color del titulo de las cartas*/
h5{
    color: #303911;
}
/*Color del texto de los párrafos de las cartas*/
h5+p{
    color: black;
    font-weight: bold;
}
/* Estilos de las cartas del centro de la página*/
.carta{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #ebc8a7;
}
/*Tamaño a la caja que contiene de la imagen grande de la carta*/
.imagenCarta{
    width: 288px;
    height: 200px;
}
/*Tamaño de la imagen de la carta*/
.imagenCarta>img{
    width: 100%;
    height: 200px;
}
/*Cambiar de color de letra y de fondo al pasar por encima del enlace de las cartas*/
.carta>a:hover{
    background-color: #303911;
    color: #ebc8a7;
}
/*Justificar el contenido de las cartas*/
.card-text{
    text-align: justify;
}
/*tamaño de la caja que contiene la imagen letraElfica en las cartas*/
.icono{
    width: 30%;
    height: auto;
    display: inline-block;
}
/*tamaño de la imagen letraElfica en las cartas*/
.icono>img{
    width: 100%;
    height: auto;
}
                                                                                /*FOOTER*/

footer{
	width: 100%;
    position: fixed;
    bottom: 0;
	padding: 1%;
}

/*Estilos enlaces del footer*/
.estiloEnlace{
	text-decoration: none;
	color: white !important;
}


                                                                         /*páginas que no son home*/
/*estilo de los enlaces del footer ?????*/
.colorMenu{
	text-decoration: none;
	color: black !important;
}



                                                                                /*Medias query*/

@media (max-width: 574px) {
    div>nav+div{
        padding-top: 5%;
    }
}
@media (max-width: 864px) {
    footer{
        position: relative;
        bottom: 0;
    }
    nav+div{
        padding-bottom: 7%;
    }
}
@media (max-width: 1040px) {
    nav>h3{
        font-size: 1.4rem;
    }
    #imgMenu{
        width: 100px;
        height: auto;
    }
}
@media (max-width: 590px) {
    footer *{
        margin: 0 auto;
        text-align: center;
    }
}