@import "mediasQuery.css";
@import "estiloError.css";

/* Pablo Trigo de la Piedad */

/*Imagen de fondo al body*/
body{
	background: url("../imagenes/rivendel4.jpg") no-repeat center center fixed;
	/*background: url("../imagenes/mapaRivendel.jpg") no-repeat center center fixed;*/
	background-size: cover;
}
                                                            /*NAVEGADOR*/
/*tamaño y tipo de fuente del navegador*/
nav{
	font-family: 'Fondamento' ;
	font-size: 1.5rem;

}
/*Tamaño de la imagen del menu*/
nav>img{
    width: 10%;
}
/*Color y margen a los enlaces del navegador*/
nav>div>ul>li{
    margin-right: 40px;
}
                                                            /*FOOTER*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1%;
}

/*Estilos enlaces del footer*/
.estiloEnlace{
    text-decoration: none;
    color: white !important;
}
                                /* Caja central de la página, el contenido*/

/* Estilos de las cartas del centro de la página*/
#central{
    margin-right: 0;
}
/*Esta clase se ha creado con las propiedades de una clase de bootstrap, pero se ha modificado */
.carta{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #ebc8a7;

}
/*Tamaño de la imagen de la carta*/
.imagenCarta>img{
    /*width: 100%;*/
    height: 200px;
}
/*Cambiar de color de letra y de fondo al pasar por encima del enlace de las cartas*/
.carta>a:hover{
    background-color: #303911;
    color: #ebc8a7;
}
/*tamaño de la caja que contiene la imagen letraElfica en las cartas*/
.icono{
    width: 30%;
    height: auto;
    display: inline-block;
}
/*tamaño de la imagen letraElfica en las cartas*/
.icono>img{
    width: 100%;
    height: auto;
}
/* Aqui ira el estilo de la caja del mensaje de advertencia de cookies*/

#overbox3 {
    width: 100%;
    text-align: justify;
}
